<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<key>Label</key>
		<string>com.evln.ellekit.startup</string>

		<key>RunAtLoad</key>
		<true/>

		<key>StandardErrorPath</key>
		<string>/tmp/launchd_ellekit_error.log</string>

		<key>StandardOutPath</key>
		<string>/tmp/launchd_ellekit_out.log</string>

		<key>ProgramArguments</key>
		<array>
		<string>/usr/bin/sudo</string>
		<string>/usr/local/bin/loader</string>
		</array>

	</dict>
</plist>