<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ellekit-mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ellekit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>injector.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>launchd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>loader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ptrauth-shim.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>safemode-ui.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>safemode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E381C39293D1C87004D36B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E6FBB5829554734007B28FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E7751032947E0E100747209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E78FBD92916B29700B3B50B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E78FBE92916BDB900B3B50B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E92AAA8290D4E680018604C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E96A5C1295924A4000EDC43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EA0D1B9291C5D500061B187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EAD27FC294D283900291A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
