Package: ellekit
Name: ElleKit (Beta)
Version: @DEB_VERSION@
Architecture: @DEB_ARCH@
Maintainer: Dhinak G <dhinak@dhinak.net>
Conflicts: com.ex.substitute, org.coolstar.libhooker, science.xnu.substitute, mobilesubstrate
Replaces: com.ex.libsubstitute, org.coolstar.libhooker, mobilesubstrate
Provides: mobilesubstrate (= 99), org.coolstar.libhooker (= 1.6.9)
Author: Evelyn
Section: Tweak Injection
Priority: optional
Icon: https://ellekit.space/logos/logo.png
Description: ElleKit tweak injection libraries and loader
 ElleKit tweak injection libraries and loader. Currently in beta.
